RAILS_LOG_TO_STDOUT={{ workshop_devops_rails_log_to_stdout }}
RAILS_MASTER_KEY={{ vault_workshop_devops_rails_master_key }}
WEB_DATABASE_PASSWORD={{ vault_workshop_devops_db_password }}
WEB_DATABASE_HOST={{ vault_workshop_devops_db_host }}
WEB_DATABASE_USER={{ vault_workshop_devops_db_user }}
PORT={{ workshop_devops_port }}
RAILS_ENV={{ workshop_devops_rails_env }}
